/* 1. main variable defines */
:root {
  --color-cream: #FFF9F1;
  --color-sage: #829B89;
  --color-input-bg: #f3f7fb;
  --color-text-dark: #1a1a1a;
  --color-text-light: #666;
  --font-main: 'Inter', 'Segoe UI', sans-serif;
  --font-serif: 'Georgia', serif;
}

/* 2. take of border */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Très important pour éviter le scroll */
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: var(--font-main);
  background-color: var(--color-cream);
}